html, body {

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {

  background-color: #F8F8FF;
  color: black;
}

select {

  outline: 10;
  overflow: hidden;
  height: 50px;
  background: #F8F8FF;
  color: #747a80;
  border: #2c343c 1px solid;
  padding: 5px 3px 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  display: inline-block;
  clear: both;
}

.logo {

  display: block;
  margin: 0 auto;
}

.navbar {

  background-color: #F8F8FF;
  color: black;
}

.input_button {

  background-color: #CA3657;
  border: none;
  border-radius: 10px;
  color: #F8F8FF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 15%;
}

form {

  text-align: center;
}

.form_select {

}

.select_input {

  margin: 20px;
}

h5 {

  text-align: center;
  margin: 50px auto;
}

.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.masonry { /* Masonry container */
    width: 100%;
}

.item { /* Masonry bricks or child elements */
    background-color: #F8F8FF;
    display: inline-block;
    margin: 33px;
    width: 20%;
    height: 270px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.item_header {
  text-align: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}

.url_field {

  background: #F8F8FF;
  height: 50px;
  width: 20%;
  margin: 20px;
}

img {

  text-align: center;
}

h1 {

  margin: 50px;
}

#vote {

  height: 65px;
  width: 65px;
}

button span {
  display: none;
}

h2 {

  color: black;
}

.rank {

  color: black;
  font-size: 2em;
  margin: 20px;
}

.signForm {

  text-align: center;
}

.signLink {

  margin: 50px;
}
